.careers
  background-repeat: no-repeat
  background-size: cover
  background-position-y: 10%
  background-position-x: 80%

  @include breakpoint(medium)
    background-position-x: 0


.single_job_listing .meta .job-type
  border-radius: $global-radius
  background-color: $black


#job-manager-job-dashboard table td,
#job-manager-job-dashboard table th
  padding: 0.5rem 1rem
