.food-and-drinks
  background-size: cover
  background-position: left
  background-repeat: no-repeat
  height: 25vh

  @include breakpoint(medium)
    height: 50vh

.filter-simple

.tab-nav-group
  justify-content: center
  text-align: center
  background: $minimalred-top-gradient
  width: 100%
  z-index: 8888

.tab-nav-scroll
  position: fixed
  top: 80px
  left: 0
  @extend .animated
  @extend .slideInDown

  @include breakpoint(large)
    top: 106px


.filter-simple-button
  border-radius: 0
  transition: border 0.15s ease-in-out
  border-top: 4px solid transparent
  color: $white

  &.is-active,
  &:hover,
  &:focus,
  &:active
    border-color: $yellow
    color: $yellow

.tab-btn
  font-weight: 700
  text-transform: uppercase
  font-size: rem-calc(14)
  padding: 1rem
  cursor: pointer

.fad-deals
  padding-bottom: 2rem


.fad-deal-card
  margin-top: 2rem
  box-shadow: $global-box-shadow

  .entry-header
    text-align: center

.fad-deal-disclaimer
  font-size: rem-calc(10)
  font-style: italic
