/*******************************************
 ******** Globals *************************
 ******************************************/
body
  position: relative
  height: 100%
  padding-top: 80px

  @include breakpoint(large)
    padding-top: 106px

/*******************************************************************
 ******** Semantics for Containers, Grids, and Cells ***************
 *******************************************************************/
.container
  @include xy-grid-container

.fluid-container
  @extend .grid-container, .fluid

.full-container
  @extend .grid-container, .full

.site-wrapper
  position: relative
  min-height: 100vh
  overflow: hidden
  display: block

.content-wrapper
  width: 100%
  margin-top: 60px
  padding-bottom: 60px

.inner-row
  @include xy-grid()

.inner-row-inline
  @include xy-grid
  display: inline-flex

.primary-menu
  @include xy-cell(auto, true, 0)

  .menu
    @include flex-align(right)

.section-content
  @include xy-cell(12)

.two-col-section-content
  @include xy-cell(6)

.circle-bg
  @include xy-cell(3)

.fad-promo-banner
  @include xy-cell(12, true, 0)
  @include breakpoint(medium)
    @include xy-cell(auto, true, 0)

.fad-promo-banner-big
  @include xy-cell(12, true, 0)

.store-locator-form
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(4)

.faq-accordion
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(8)

.careers-content
  @include xy-cell(12)
  @include breakpoint(medium)
    @include xy-cell(9)

.employee-cutout
  @include xy-cell(3)

.footer-widget-cell
  @include xy-cell(6)

  @include breakpoint(medium)
    @include xy-cell(3)

  @include breakpoint(large)
    @include xy-cell(3)

.bf-copyright, .bf-social
  @include xy-cell(12)
  @include breakpoint(medium)
    @include xy-cell(6)

.stack-media, .stack-content
  @include xy-cell(full, true, 0)
  @include breakpoint(large)
    @include xy-cell(6, true, 0)

.news-card, .news-card-2, .fad-deal-card
  @extend .cell

.post-content
  @include xy-cell(12)

.post-gallery
  @include xy-grid()
  @include xy-grid-layout(2, '.post-gallery-img-thumb')
  @include breakpoint(medium)
    @include xy-grid-layout(3, '.post-gallery-img-thumb')
  @include breakpoint(large)
    @include xy-grid-layout(4, '.post-gallery-img-thumb')

.post-navigation
  @include xy-cell(auto)

.contact-info
  @include xy-cell(6)
  @include breakpoint(large)
    @include xy-cell(3)

.map-wrapper, .contact-form-wrapper
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(6)

.counter-item
  @include xy-cell(6)
  @include breakpoint(small)
    @include breakpoint(landscape)
      width: auto
      flex: 1 1 0px
  @include breakpoint(medium)
    @include xy-cell(auto)

.image-nav-block
  @extend .cell

.wpsl-input
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(3)

.wpsl-select-menu
  @include xy-cell(6)
  @include breakpoint(large)
    @include xy-cell(2)

.wpsl-search-btn-wrap
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(3)

.wpsl-result-list
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(3)

.wpsl-gmap-wrap
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(9)

/*******************************************
 ******** Animations ***********************
 *******************************************/
.animation-delay-500ms
  animation-delay: 500ms !important

.animation-delay-300ms
  animation-delay: 300ms !important

.transition-duration-300ms
  transition-duration: 300ms !important

/*******************************************
 ******** Typography ***********************
 *******************************************/
h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  letter-spacing: 1px

.heading-underlined
  padding-bottom: rem-calc(5)
  border-bottom: 1px solid $light-gray

  @include breakpoint(medium)
    display: inline-block

/*******************************************
 ******** Text Effects and Box Shadows *****
 *******************************************/
$global-box-shadow: 0 1px 5px rgba(0,0,0,0.3)
$global-big-box-shadow: rgba(0,0,0,0.498) 0px 0px 30px 0px
$global-text-shadow: 1px 3px 5px rgba(0,0,0,0.6)

.standard-shadow
  text-shadow: 1px 3px 5px rgba(0,0,0,0.6)

.deepshadow
  color: #e0dfdc
  letter-spacing: .1em
  text-shadow: 0 -1px 0 #fff,
  0 1px 0 #2e2e2e,
  0 2px 0 #2c2c2c,
  0 3px 0 #2a2a2a,
  0 4px 0 #282828,
  0 5px 0 #262626,
  0 6px 0 #242424,
  0 7px 0 #222,
  0 8px 0 #202020,
  0 9px 0 #1e1e1e,
  0 10px 0 #1c1c1c,
  0 11px 0 #1a1a1a,
  0 12px 0 #181818,
  0 13px 0 #161616,
  0 14px 0 #141414,
  0 15px 0 #121212,
  0 22px 30px rgba(0, 0, 0, 0.9)

.retroshadow
  color: $white
  letter-spacing: .05em
  text-shadow: 4px 4px 0px $red, 7px 7px 0px rgba($black, 0.4)

.superhero
  color: $white
  text-shadow: -3px 3px 0px darken($red, 5%),
  -6px 6px 0px darken($red, 15%),
  -9px 9px 0px darken($red, 25%)


/*******************************************
 ******** Buttons **************************
 *******************************************/
.button
  font-size: 1rem
  text-transform: uppercase
  font-weight: 700
  border-bottom: 5px solid darken($red, 15%)
  text-shadow: 0 2px darken($red, 15%)
  transition: all 0.1s

  &:active
    transform: translate(0px, 3px)
    border-bottom: 1px solid darken($red, 15%)

  &.yellow-btn
    background-color: $yellow
    border-bottom: 5px solid darken($yellow, 15%)
    text-shadow: 0 2px darken($yellow, 15%)

    &:hover
      background-color: darken($yellow, 10%)

    &:active
        transform: translate(0px, 3px)
        border-bottom: 1px solid darken($yellow, 15%)

  &.green-btn
    background-color: $green
    border-bottom: 5px solid darken($green, 15%)
    text-shadow: 0 2px darken($green, 15%)

    &:hover
      background-color: darken($green, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($green, 15%)

  &.blue-btn
    background-color: $blue
    border-bottom: 5px solid darken($blue, 15%)
    text-shadow: 0 2px darken($blue, 15%)

    &:hover
      background-color: darken($blue, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($blue, 15%)

  &.black-btn
    background-color: $medium-black
    border-bottom: 5px solid darken($medium-black, 15%)
    text-shadow: 0 2px darken($medium-black, 15%)

    &:hover
      background-color: darken($medium-black, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($medium-black, 15%)

  &.white-btn
    color: $red
    background-color: $white
    border-bottom: 5px solid darken($white, 15%)
    text-shadow: 0 2px darken($white, 15%)

    &:hover
      background-color: darken($white, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($white, 15%)

.btn-row
  .button
    margin: 30px 3px
    padding: 1rem 2rem
    width: 100%

    @include breakpoint(landscape)
      width: auto

    @include breakpoint(medium)
      margin: 30px 10px
      padding: 1rem 3rem
      width: auto

.wpforms-form input[type=submit], 
.wpforms-form button[type=submit],
.wpforms-page-button
  @extend .button
/*******************************************
 ******** Color Gradients ******************
 *******************************************/
$minimalred-top-gradient: linear-gradient(to top, #f00000, #dc281e)
$youtube-top-gradient: linear-gradient(to top, #e52d27, #b31217)
$youtube-right-gradient: linear-gradient(to right, #e52d27, #b31217)
$servquick-top-gradient: linear-gradient(to top, #29323c, #485563)
$servquick-bottom-gradient: linear-gradient(to bottom, #29323c, #485563)
$servquick-left-gradient: linear-gradient(to left, #29323c, #485563)
$fasttrac-gradient: linear-gradient(180deg, rgb(227, 27, 35), rgb(255, 196, 37))
$black-overlay-gradient: linear-gradient(rgba($black, 0.2), rgba($black, 0.2))
$sunrise-bottom-gradient: linear-gradient(to bottom, #ff512f, #f09819)


/*******************************************
 ******** Headers and Heros ****************
 *******************************************/
.page-hero
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  align-items: center
  height: 65vh

.page-hero-content
  display: inline-block
  margin: 0 auto
  padding: 0 15%

  h1
    color: $white

  p.subheader
    color: $white
    font-size: 1rem
    text-shadow: $global-text-shadow
    font-weight: 700

    @include breakpoint(small)
      @include breakpoint(landscape)
        font-size: rem-calc(18)

    @include breakpoint(medium)
      font-size: rem-calc(28)

    @include breakpoint(medium)
      @include breakpoint(landscape)
        font-size: rem-calc(22)

  .button
    margin-top: 15px
    margin-bottom: 0
    font-size: 1rem

    @include breakpoint(large)
      font-size: 1.2rem

.centered
  text-align: center
  padding: 0 1rem

.page-not-found
  position: absolute
  left: 0
  right: 0
  top: 10%

  @include breakpoint(small)
    @include breakpoint(landscape)
      top: 8%

  @include breakpoint(medium)
    top: 12%

  @include breakpoint(large)
    top: 16%

  h1
    font-size: rem-calc(60)

    @include breakpoint(medium)
      font-size: rem-calc(80)

  a
    font-weight: 500

/*******************************************
 ******** Stacks ***************************
 *******************************************/
.stack-content
  padding-left: rem-calc(30)
  padding-right: rem-calc(30)

  h1
    padding-top: 30px

  ul.stack-items
    column-count: 2
    column-gap: rem-calc(60)
    @include breakpoint(medium)
      column-count: 1
      column-gap: 0

    li
      text-transform: capitalize
      @include breakpoint(medium)
        font-size: rem-calc(18)

.stack-media
  overflow: hidden
  min-height: 320px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

  @include breakpoint(medium)
    min-height: 450px

/*******************************************
 ******** Page and Post Content ************
 *******************************************/
.border-top
  border-top: 1px solid $light-gray

.border-top-bottom
  border-top: 1px solid $light-gray
  border-bottom: 1px solid $light-gray

.border-bottom
  border-bottom: 1px solid $light-gray

.section-title
  text-align: center
  padding-top: rem-calc(60)
  width: 100%

  h1
    font-size: rem-calc(60)

    @include breakpoint(small only)
      font-size: 3rem

.section-content
  padding-top: rem-calc(30)

.widget-title
  font-size: rem-calc(18)

.entry-content-padded
  padding: rem-calc(60) 0

.post-navigation
  text-align: center
  padding-bottom: rem-calc(30)

.pagination
  font-weight: 700

.attachment-details
  list-style: none

.gallery
	margin-bottom: 1.5em

.gallery-item
  display: inline-block
  text-align: center
  vertical-align: top
  width: 100%
  margin-bottom: 2rem

.gallery-columns-2 .gallery-item
	max-width: 50%

.gallery-columns-3 .gallery-item
	max-width: 33.33%

.gallery-columns-4 .gallery-item
	max-width: 25%

.gallery-columns-5 .gallery-item
	max-width: 20%

.gallery-columns-6 .gallery-item
	max-width: 16.66%

.gallery-columns-7 .gallery-item
	max-width: 14.28%

.gallery-columns-8 .gallery-item
	max-width: 12.5%

.gallery-columns-9 .gallery-item
	max-width: 11.11%

.gallery-caption
	display: block

/*******************************************
 ******** Simple Job Post  *****************
 *******************************************/
.sjb-page button
  text-transform: capitalize

/*******************************************
 ******** Download Manager  *****************
 *******************************************/
.w3eden 
    a
        color: $red
        
        &:hover
            color: lighten($red,14%)

.w3eden .list-group .badge, .w3eden .badge
    background: $red

.w3eden .list-group .badge
    border-radius: $global-radius    

/*******************************************
 ******** Tabs *****************************
 *******************************************/
.filter-tabs
  padding: rem-calc(60) 0

.tabs-container
  width: 100%

.tabs
  border: none
  border-bottom: 1px solid $light-gray
  text-align: center

.tabs-content
  border: none

  p
    padding-top: 30px

.tabs-title
  a
    font-size: rem-calc(11)
    font-weight: 700
    text-transform: uppercase
    padding: 1.25rem 0.6rem

    @include breakpoint(321px)
      font-size: rem-calc(13)

    @include breakpoint(small)
      @include breakpoint(landscape)
        font-size: 1rem

    @include breakpoint(medium)
      font-size: 1rem
      padding: 1.25rem 1.5rem

    &:hover
      color: $red

  &:hover
    border-bottom: 1px solid $red

.tabs-title.is-active
  border-bottom: 1px solid $red

.tab-thumbnail
  height: 340px
  display: block
  margin: 0 auto
  background-repeat: no-repeat
  background-size: cover
  background-position: center center


/*******************************************
 ******** Image Nav Blocks *****************
 *******************************************/
.image-nav-block
  margin: rem-calc(5) 0
  padding: 0 0.5rem
  display: block

  @include breakpoint(medium)
    margin: rem-calc(15) 0
    padding: 0 1rem

.nav-block-overlay
  position: relative
  overflow: hidden

  img
    transition: transform ease-in-out .25s
    max-width: 100%

  &::after
    content: "\A"
    background: $black-overlay-gradient
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

  &:hover, &:focus
    &::after
      background: rgba($red, 0.7)

    img
      transform: scale(1.1)

.title-overlay
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  color: $white
  font-size: 1rem
  text-transform: uppercase
  text-shadow: $global-text-shadow
  z-index: 999

  @include breakpoint(medium)
    font-size: 2rem

  a
    color: inherit


/*******************************************
 ******** Accessibility ********************
 *******************************************/
.screen-reader-text
	border: 0
	clip: rect(1px, 1px, 1px, 1px)
	clip-path: inset(50%)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute !important
	width: 1px
	word-wrap: normal !important /* Many screen reader and browser combinations announce broken words as they would appear visually. */

.screen-reader-text:focus
	background-color: #f1f1f1
	border-radius: 3px
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
	clip: auto !important
	clip-path: none
	color: $red
	display: block
	font-size: 14px
	font-size: 0.875rem
	font-weight: bold
	height: auto
	left: 5px
	line-height: normal
	padding: 15px 23px 14px
	text-decoration: none
	top: 5px
	width: auto
	z-index: 100000
	/* Above WP toolbar. */

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus
	outline: 0