/******** Globals *******/
body
  position: relative
  height: 100%
  padding-top: 80px

  @include breakpoint(large)
    padding-top: 106px

footer
  // position: absolute
  // width: 100%
  // left: 0
  // bottom: 0


/* Semantics for Containers, Grids, and Cells*/
.container
  @include xy-grid-container

.site-wrapper
  position: relative
  min-height: 100vh
  overflow: hidden
  display: block

.content-wrapper
  width: 100%
  margin-top: 60px
  padding-bottom: 60px

.inner-row
  @include xy-grid()

.inner-row-inline
  @include xy-grid
  display: inline-flex

.top-social, .secondary-menu
  @include xy-cell(6)

.logo
  @include xy-cell(6)
  @include breakpoint(medium)
    @include xy-cell(50%)
  @include breakpoint(large)
    @include xy-cell(20%)

.mobile-menu
  @include xy-cell(6)

.primary-menu
  @include xy-cell(auto)

  .menu
    @include flex-align(right)

.fp-login
  @include xy-cell(15%)
  @include breakpoint(xlarge)
    @include xy-cell(12%)

.section-content
  @include breakpoint(small)
    @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(6)

.two-col-section-content
  @include xy-cell(6)

.circle-bg
  @include xy-cell(3)

.store-locator-form
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(3)

.faq-accordion
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(8)

.employee-cutout
  @include xy-cell(12)
  @include breakpoint(medium)
    @include xy-cell(6)

.footer-widget-cell
  @include xy-cell(6)

  @include breakpoint(medium)
    @include xy-cell(3)

  @include breakpoint(large)
    @include xy-cell(3)

.bf-copyright, .bf-social
  @include xy-cell(12)
  @include breakpoint(medium)
    @include xy-cell(6)

.stack-media, .stack-content
  @include xy-cell(full, true, 0)
  @include breakpoint(large)
    @include xy-cell(6, true, 0)

.news-card, .news-card-2
  @extend .cell

.post-content
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(8)

.post-gallery
  @include xy-grid()
  @include xy-grid-layout(2, '.post-gallery-img-thumb')
  @include breakpoint(medium)
    @include xy-grid-layout(3, '.post-gallery-img-thumb')
  @include breakpoint(large)
    @include xy-grid-layout(4, '.post-gallery-img-thumb')

.contact-info
  @include xy-cell(6)
  @include breakpoint(large)
    @include xy-cell(3)

.map-wrapper, .contact-form-wrapper
  @include xy-cell(12)
  @include breakpoint(large)
    @include xy-cell(6)

.counter-item
  @include xy-cell(6)
  @include breakpoint(small)
    @include breakpoint(landscape)
      width: auto
      flex: 1 1 0px
  @include breakpoint(medium)
    @include xy-cell(auto)

.image-nav-block
  @extend .cell

/* Animations */
.animation-delay-500ms
  animation-delay: 500ms !important

.animation-delay-300ms
  animation-delay: 300ms !important

.transition-duration-300ms
  transition-duration: 300ms !important

/* Typography - Font Weights: Open Sans 400, 700, 800 */
h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 800

/* Text Effects and Box Shadows */
$global-box-shadow: 0 1px 5px rgba(0,0,0,0.3)
$global-text-shadow: 1px 3px 5px rgba(0,0,0,0.6)

.standard-shadow
  text-shadow: 1px 3px 5px rgba(0,0,0,0.6)

.deepshadow
  color: #e0dfdc
  letter-spacing: .1em
  text-shadow: 0 -1px 0 #fff,
  0 1px 0 #2e2e2e,
  0 2px 0 #2c2c2c,
  0 3px 0 #2a2a2a,
  0 4px 0 #282828,
  0 5px 0 #262626,
  0 6px 0 #242424,
  0 7px 0 #222,
  0 8px 0 #202020,
  0 9px 0 #1e1e1e,
  0 10px 0 #1c1c1c,
  0 11px 0 #1a1a1a,
  0 12px 0 #181818,
  0 13px 0 #161616,
  0 14px 0 #141414,
  0 15px 0 #121212,
  0 22px 30px rgba(0, 0, 0, 0.9)

.retroshadow
  color: $white
  letter-spacing: .05em
  text-shadow: 4px 4px 0px $red, 7px 7px 0px rgba($black, 0.4)

.superhero
  color: $white
  text-shadow: -5px 5px 0px darken($red, 5%),
  -10px 10px 0px darken($red, 15%),
  -15px 15px 0px darken($red, 25%)

/* Button */
.button
  font-size: 1rem
  text-transform: uppercase
  font-weight: 800
  border-bottom: 5px solid darken($red, 15%)
  text-shadow: 0 2px darken($red, 15%)
  transition: all 0.1s

  &:active
    transform: translate(0px, 3px)
    border-bottom: 1px solid darken($red, 15%)

  &.yellow-btn
    background-color: $yellow
    border-bottom: 5px solid darken($yellow, 15%)
    text-shadow: 0 2px darken($yellow, 15%)

    &:hover
      background-color: darken($yellow, 10%)

    &:active
        transform: translate(0px, 3px)
        border-bottom: 1px solid darken($yellow, 15%)

  &.green-btn
    background-color: $green
    border-bottom: 5px solid darken($green, 15%)
    text-shadow: 0 2px darken($green, 15%)

    &:hover
      background-color: darken($green, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($green, 15%)

  &.blue-btn
    background-color: $blue
    border-bottom: 5px solid darken($blue, 15%)
    text-shadow: 0 2px darken($blue, 15%)

    &:hover
      background-color: darken($blue, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($blue, 15%)

  &.black-btn
    background-color: $medium-black
    border-bottom: 5px solid darken($medium-black, 15%)
    text-shadow: 0 2px darken($medium-black, 15%)

    &:hover
      background-color: darken($medium-black, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($medium-black, 15%)

  &.white-btn
    color: $red
    background-color: $white
    border-bottom: 5px solid darken($white, 15%)
    text-shadow: 0 2px darken($white, 15%)

    &:hover
      background-color: darken($white, 10%)

    &:active
      transform: translate(0px, 3px)
      border-bottom: 1px solid darken($white, 15%)

/* Color Gradients */
$minimalred-top-gradient: linear-gradient(to top, #f00000, #dc281e)
$youtube-top-gradient: linear-gradient(to top, #e52d27, #b31217)
$youtube-right-gradient: linear-gradient(to right, #e52d27, #b31217)
$servquick-top-gradient: linear-gradient(to top, #29323c, #485563)
$servquick-bottom-gradient: linear-gradient(to bottom, #29323c, #485563)
$servquick-left-gradient: linear-gradient(to left, #29323c, #485563)
$fasttrac-gradient: linear-gradient(180deg, rgb(227, 27, 35), rgb(255, 196, 37))
$black-overlay-gradient: linear-gradient(rgba($black, 0.2), rgba($black, 0.2))


/* Headers and Heroes */
.page-hero
  background: $black-overlay-gradient, url('../img/checkout.jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  align-items: center
  height: 65vh

.page-hero-content
  display: inline-block
  margin: 0 auto
  padding: 0 15%



  h1
    color: $white

  p.subheader
    color: $white
    font-size: 1rem
    text-shadow: $global-text-shadow
    font-weight: 600

    @include breakpoint(small)
      @include breakpoint(landscape)
        font-size: rem-calc(18)

    @include breakpoint(medium)
      font-size: rem-calc(28)

    @include breakpoint(medium)
      @include breakpoint(landscape)
        font-size: rem-calc(22)

  .button
    margin-top: 15px
    margin-bottom: 0
    font-size: 1rem

    @include breakpoint(large)
      font-size: 1.2rem

.centered
  text-align: center
  padding: 0

/* Stacks */
.stack-content
  padding-left: rem-calc(30)
  padding-right: rem-calc(30)

  h1
    padding-top: 30px

.stack-media
  overflow: hidden
  min-height: 450px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  //
  // img
  //   max-width: none
  //   height: 100%


/* Page and Post Content */
.section-title
  text-align: center
  padding-top: rem-calc(60)
  width: 100%

  h1
    font-size: rem-calc(60)

    @include breakpoint(small only)
      font-size: 3rem

.section-content
  padding-top: rem-calc(60)

.widget-title
  font-size: rem-calc(18)


/* Tabs */
.filter-tabs
  padding: rem-calc(60) 0


/* Image Nav Blocks */
.image-nav-block
  margin: rem-calc(5) 0
  padding: 0 0.5rem
  display: block

  @include breakpoint(medium)
    margin: rem-calc(15) 0
    padding: 0 1rem

.nav-block-overlay
  position: relative
  overflow: hidden

  img
    transition: transform .2s
    max-width: 100%

  &::after
    content: "\A"
    background: $black-overlay-gradient
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

  &:hover, &:focus
    &::after
      background: rgba($red, 0.7)

    img
      transform: scale(1.1)

.title-overlay
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  color: $white
  font-weight: 700
  font-size: 1rem
  text-transform: uppercase
  text-shadow: $global-text-shadow
  z-index: 999

  @include breakpoint(medium)
    font-size: 2rem

  a
    color: inherit
