.fullscreen-image-slider
  .orbit-image
    width: 100%
    height: 65vh

    @include breakpoint(small only)
      height: 45vh


.orbit-container
  height: 100%

.orbit-slide
  height: 90vh

.orbit-caption
    bottom: 50%
    transform: translateY(50%)
    background: none
    text-align: left
    padding-left: 60px
    color: $white
    text-shadow: 2px 3px 7px $black

    p
      font-size: rem-calc(18)
      text-shadow: 2px 3px 5px $black

      @include breakpoint(medium down)
        font-size: 1rem

    @include breakpoint(small)
      padding-left: 1rem

      .button
        font-size: 0.8rem

      h1
        font-size: 0.9rem

    @include breakpoint(medium)
      padding-left: 3.75rem

      h1
        font-size: 2rem

      .button
        font-size: 1rem


    @include breakpoint(large)
      padding-left: 5rem

.slide-1, .slide-2, .slide-3
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.slide-1
  background-image: url('../img/slides/slide-1@1200px.jpg')

.slide-2
  background-image: url('../img/slides/slide-2@1200px.jpg')

.slide-3
  background-image: url('../img/slides/slide-3@1200px.jpg')


.orbit-previous, .orbit-next
  top: 50%
  background-color: rgba($black, 0.5)

  @include breakpoint(medium down)
    display: none

.orbit-bullets
  position: absolute
  left: 50%
  bottom: rem-calc(10)

  button
    width: 0.7rem
    height: 0.7rem

  @include breakpoint (medium down)
    left: 45%

.fast-points-home
  background-color: $red
  background-image: url("../img/arches.png")
  padding-bottom: 60px

  @include breakpoint(medium down)
    h1
      font-size: 3rem

  h2, p
    color: $white

  h2
    text-align: center
    font-size: 1.125rem

    @include breakpoint(small only)
      text-align: left

  p
    text-align: justify

.earn-steps
  margin-top: 60px
  padding-bottom: 60px


.rewards-steps-circle
  position: relative
  margin: 0 0.4rem
  display: block
  background: $white
  border-radius: 50%
  height: 60px
  width: 60px

  @include breakpoint(414px)
    height: 80px
    width: 80px

  @include breakpoint(375px)
    @include breakpoint(landscape)
      margin: 0 0.8rem
      height: 80px
      width: 80px

  @include breakpoint(medium)
    margin: 0 1rem
    height: 100px
    width: 100px

  @include breakpoint(large)
    margin: 0 2.5rem
    height: 150px
    width: 150px

  @include breakpoint(xlarge)
    margin: 0 2.5rem
    height: 200px
    width: 200px

  &:after
    content: ""
    position: absolute
    width: 80%
    height: 1px
    top: 50%
    border: 1px solid $white
    display: block
    right: calc(-80% + 1px)
    z-index: 1

    @include breakpoint(small only)
      width: 25%
      right: calc(-25% + 1px)

    @include breakpoint(414px)
      width: 60%
      right: calc(-60% + 1px)

    @include breakpoint(medium down)
      @include breakpoint(landscape)
        width: 35%
        right: calc(-35% + 1px)

  &:last-child
    &:after
      display: none

  .circle-content
    text-align: center
    transform: translateY(50%)

    @include breakpoint(small only)
      transform: translateY(25%)

    @include breakpoint(medium down)
      @include breakpoint(landscape)
        transform: translateY(35%)

    .fas
      color: $red
      font-size: 1.2rem

      @include breakpoint(375px)
        @include breakpoint(landscape)
          font-size: 1.8rem

      @include breakpoint(414px)
        font-size: 1.8rem

      @include breakpoint(medium)
        @include breakpoint(landscape)
          font-size: 2rem

      @include breakpoint(large)
        font-size: 2.5rem

      @include breakpoint(xlarge)
        font-size: 3.5rem

    span
      display: block
      font-weight: 800
      color: $red
      font-size: 0.8rem

      @include breakpoint(375px)
        @include breakpoint(landscape)
          font-size: 1rem

      @include breakpoint(414px)
        font-size: 1rem

      @include breakpoint(medium)
        @include breakpoint(landscape)
          font-size: 1.2rem

      @include breakpoint(large)
        font-size: 1.5rem

      @include breakpoint(xlarge)
        font-size: rem-calc(32)

.join-today-heading
  h2
    @include breakpoint(small only)
      text-align: center

.btn-row
  .button
    margin: 30px 10px
    padding: 1rem 5rem

    @include breakpoint(small only)
      margin: 30px 3px
      padding: 1rem 2.5rem

.store-locator-home
  background-image: url("../img/fasttrac-nighttime.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 60px

  h2,p
    color: $white

  h2
    font-size: 1.125rem

  p
    font-weight: 700
    font-size: rem-calc(22)

    @include breakpoint(medium down)
      font-size: 1.2rem
      text-align: justify

  .store-locator-form
    padding: 60px 0 30px

    label
      color: $white
      text-align: center
      font-weight: 700

    input
      text-align: center
      font-weight: 700

  .button
    padding: 1rem 5rem
    margin-top: 30px

.careers-home
  position: relative
  padding-bottom: 60px
  background: $yellow url("../img/wavecut.png")

  .section-title
    text-align: left

  .section-content
    p
      padding-bottom: 30px

.employee-cutout
  position: absolute
  bottom: 0
  right: 0

  @include breakpoint(medium down)
    display: none

  img
    display: block
    max-width: 200px
    margin: 0 auto
