.news
  background-image: $black-overlay-gradient, url('../img/news.jpg')

.news-posts
  padding: 60px 0

.news-card
  position: relative
  margin-bottom: 4rem

  a
    h1, p
      color: $black

  @include card-container
  h1
    font-size: rem-calc(24)

  header.entry-header
    @include card-divider
    padding: 0.5rem 1rem
    border-bottom: 1px solid $medium-gray

  header.alternate
    @include card-divider
    padding: 0.5rem 1rem
    background-color: rgba(0,0,0,0.8)

    h1
      color: $white

  .post-date
    color: $dark-gray
    padding: 0.5rem 1rem 0 1rem

    span
      font-weight: 700
      margin-left: 5px

  .post-excerpt
    @include card-section

  .post-category
    background-color: $black
    color: $white
    padding: 0.125rem 1rem

    a
      color: inherit

    .fas
      font-size: rem-calc(14)

    span
      margin-left: 5px
      text-transform: capitalize
      font-size: rem-calc(14)

  a.button.halved
    width: 50%

  .post-button
    margin: 0 auto
